
{% include "base.html" %}
<!-- {% include "navigation.html" %} -->




{% block content %}
  
{% if error == "no" %}
    <script>
        alert("record added successfully ");
        window.location = "{% url 'view_corpse' %}";
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert("record not added! try again");
    </script>
{% endif %}


<div class="container">
    <h2 class="text-center">Add corpse</h2>
    <form method="POST">
        {% csrf_token %}
        <label>First_name:</label>
        <input type="text" class="form-control" name="first_name">

        <label>Last_name:</label>
        <input type="text" class="form-control" name="last_name">

        <label>Gender:</label>
        <select name="gender" class="form-control">
            {% for gen in gender %}
            <option value="{{gen.gender}}">{{gen.gender}}</option>
            {% endfor %}
        </select>
        <label>Next of kin name:</label>
        <input type="text" class="form-control" name="kin_name">

        <label>Next of kin contact:</label>
        <input type="name" class="form-control" name="kin_contact">
        <label>Date of death:</label>
        <input type="date" class="form-control" name="date">




        <input type="submit" value="submit" class="form-control btn btn-primary">

    </form>
</div>

{% endblock content %}