
{% include "base.html" %}

<h1 class="text-center">View Corpse</h1>

<table id="example" class="table table-hover">
    <thead>
        <tr>
            <th>Corpse_Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Type of corpse</th>
            <th>Next of kin</th>
            <th>Room</th>
            <th>Date of death</th>
            <th>Date of admission</th>
            
        </tr>
    </thead>
    <tbody>
        {% for c in corpse %}
          <tr>
              <td>{{c.id}}</td>
              <td>{{c.first_name}}</td>
              <td>{{c.last_name}}</td>
              <td>{{c.gender}}</td>
              <td>{{c.type_of_corpse}}</td>
              <td>{{c.next_of_kin}}</td>
              <td>{{c.room}}</td>
              <td>{{c.date_of_death}}</td>
              <td>{{c.date_of_admission}}</td>
              
              <td><a href="{% url 'delete_corpse' c.id %}" 
                onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a></td>
          </tr>
        {% endfor %}
    </tbody>
</table>